@import "variables";
@import "colors";
body {
  background: $myColor;
  color: $textcolor;
  font-size: $fontsize;
  background-color: red;
}
// Nesting
.content {
 font-family: sans-serif;

 h1 {
  $myColor: green;
  color: $myColor;
  font-size: 50px;
}

.content ::selection{
  background-color: $bgcolor;
}
p {
  color: $textcolor ;
  font-size: 20px;
}
span {
  color: $textcolor ;
}

}






