// font family for heading
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.woff') format('woff'),
       url('../fonts/Lora-Bold.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Medium.woff') format('woff'),
       url('../fonts/Lora-Medium.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff') format('woff'),
       url('../fonts/Lora-Regular.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}

// pargraph font family
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Bold.woff') format('woff'),
       url('../fonts/TTNorms-Bold.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Medium.woff') format('woff'),
       url('../fonts/TTNorms-Medium.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.woff') format('woff'),
       url('../fonts/TTNorms-Regular.ttf') format('truetype');
       font-style: normal;
       font-display: swap;
}

body{
  font-family: 'TT Norms' !important;
  font-style: normal;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Lora' !important;
  font-style: normal;
}
header, a button{
  font-family: 'Lora' !important;
  font-style: normal;
}