
.header-font {
    font-family: "Times New Roman", Times, serif;
  }
  
  .body-font {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer-font {
    font-family: "Lucida Console", "Courier New", monospace;
  }