@charset "utf-8";
/* CSS Document */
.main {width:1000px;
height:auto;}

.upper {width:auto;
height: 600px;
background-image:url(../img/intro-bg.jpg);
position:relative; float:leftl;}
.menu {width:auto;
height:80px;
}


.title{ width:50%;
height:80px;
position:relative;
float:left;}

.buttons {width: 50%;
height:80px;
position:relative;
float:left;}

.btns {
width: auto;
height: 80px;
position: relative;
float: left;
color: white;
padding: 21px 0 0 22px;
}
.t1 {
width: auto;
height: auto;
color: white;
font-size: 25px;
margin: 18px 0 0 42px;}
.medium{width:auto; height:400px; background-color:#6FC;}
 .about{color: #666; text-align:center; font-size:24px;}
.pic{background-image:url(../img/about.png); width:30px; height:20px; margin: 20 0 0 40; float:left; position:relative;}
.w{color:#999; font-size:24px; margin: 100px 0 0 118px;}
.s{color:#FFF; font-size:36px; margin: 0 0 0 118;}
.wri{color:#999; font-size:16px; margin: 10px 0 0 118px;}
.lrn{color:#0FF; font-size:24px; margin: 20px 0 0 118px;}
.h{color: #F9F; font-size:20px; margin: 50px 0 0 470px;}
.wr{color:#999; font-size:16px; margin: 18px 0 0 471px;} 

.lower{width:auto; height:500px;} 
.ou{color:#6CC; font-size:36px; margin: 50px 0 0 400px;}
.mw{color: #69F; font-size: 20px; margin: 30px 0 0 200px;}
.ml{color:#63F; font-size:20px; margin: 160px 0px 0px 34px;}
.ml2{color:#63F; font-size:20px; margin: -22px 0px 0px 260px;}
.ml3{color:#63F; font-size:20px; margin: -22px 0px 0px 510px;}
.ml4{color:#63F; font-size:20px; margin: -22px 0px 0px 770px;}
.lwr{color:#0CF; font-size:16px; margin: 0px 0px 0px 34px;}
.lwr2{color: #39C; font-size:16px; margin:-80px 0px 0px 260px;}
.lwr3{color: #39C; font-size:16px; margin: -60px 0px 0px 510px;}
.lwr4{color:#39F; font-size:16px; margin: -80px 0px 0px 770px;}

.smallower{width:auto; height:500px; background-color:#6FF;}
.g{color:#39C; font-size:36px;  text-align:center;}
.slw{color:#699; font-size:16px; margin: 34px 0px 0px 240px;}
.sm{color:#399; font-size:24px; width:auto; height:100px;}
.sm1{color: #399; font-size:24px; text-shadow:#6C9; float:left; position:relative;}

.gpic{ position:relative;
		float:left; }


